fastapi==0.110.2
uvicorn[standard]
transformers==4.50.3
torch==2.6.0
langchain==0.3.23
sentence-transformers==4.0.1
scikit-learn==1.6.1
faiss-cpu==1.10.0
google-auth==2.38.0
google-generativeai==0.8.4
langchain-google-genai==0.0.5
langchain-community==0.0.x  
python-dotenv
pydantic==1.9.x  
