@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

:root {
  --primary: #5866f2;
  --primary-content: #ffffff;
  --primary-light: #8791f6;
  --primary-dark: #293bee;

  --secondary: #f12589;
  --secondary-content: #460520;
  --secondary-light: #f1687b6;
  --secondary-dark: #ee297c;

  --neutral-foreground: #1d1a30;
  --neutral-background: #131420;
  --neutral-border: #303350;
  --neutral-copy: #fafafc;
  --neutral-copy-light: #cfcla2;
  --neutral-copy-lighter: #8193bc;

  --success: #58f258;
  --success-content: #054505;
  --warning: #f2f258;
  --warning-content: #464605;
  --error: #f25858;
  --error-content: #460505;
}

.bg-primary {
  background-color: var(--primary);
}
.text-primary {
  color: var(--primary);
}
.bg-primary-light {
  background-color: var(--primary-light);
}
.bg-primary-dark {
  background-color: var(--primary-dark);
}

.bg-secondary {
  background-color: var(--secondary);
}
.text-secondary {
  color: var(--secondary);
}
.bg-secondary-light {
  background-color: var(--secondary-light);
}
.bg-secondary-dark {
  background-color: var(--secondary-dark);
}

.bg-neutral {
  background-color: var(--neutral-background);
}
.text-neutral {
  color: var(--neutral-foreground);
}
.border-neutral {
  border-color: var(--neutral-border);
}

.bg-success {
  background-color: var(--success);
}
.text-success {
  color: var(--success-content);
}
.bg-warning {
  background-color: var(--warning);
}
.text-warning {
  color: var(--warning-content);
}
.bg-error {
  background-color: var(--error);
}
.text-error {
  color: var(--error-content);
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.textGradient {
  background: linear-gradient(to right, var(--primary-dark), var(--secondary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* For browsers supporting this property */
}
